						</div>
					</div>
					<div class="footer">
						<div class="quickLinks">
						<h3 class="CustomFont">QUICKLINKS: &nbsp;</h3>
						<ul>
							<li><a href="http://phelpslaundry.ca/contact-us/" target="_blank">PHELPS</a></li>
						</ul>
					</div>
				</div>
			</div>
			<footer>
				<p>Copyright &#169;TechTrex.</p>
			</footer>

		</div>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="../static/js/bootstrap.min.js"></script>
	</body>
</html>