::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

header {
	/*margin-bottom: 40px;*/
}

header h1, .titleHeader h1, footer {
	text-align: center;
}

h4, h5 {
	font-weight: bold;
	text-decoration: underline;
}

h5 {
	margin-bottom: 20px;
}

table th {
	font-weight: bold;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  max-width: 800px;
}

#notification_msg {
	margin: auto;
}

.admintask div {
	padding: 10px;
}

.admintask div a {
	width: 200px;
}

.vendor-task {
	padding: 10px;
	height: 65px;
}

.vendor-task div a {
	width: 280px;
}

.help-text {
	color: #737373;
}

.vendor-task-block {
	background: #eee;
	padding: 10px;
	border: solid 5px #fff;
}

.view-detail {
	margin: auto 100px;
}

.table {
	background: #fff;
}

.notabledata {
	margin-top: 30px;
	font-weight: bold;
	text-align: center;
}

.licensedetail {
	padding: 0 5px 5px;
	word-wrap: break-word;
}

footer {
	/*margin-top: 40px;*/
}