/*  

Theme Name: Phelps

Theme URI: http://www.davearthurweb.com

Description: Minimalist theme for PHELPS Apartment Laundries Ltd. website

Author: Dave Arthur

Author URI: http://www.davearthurweb.com

Version: 1.0

*/

/* Main Stylesheet for PHELPS website */

/* START RESET CSS RULES */
/* Used to reset styles for all elements and reduce browser inconsistencies  */
/* By Eric Meyer - http://meyerweb.com/ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; } focus { outline: 0; } body { line-height: 1; color: black; background: white; } ol, ul { list-style: none; } table { border-collapse: separate; border-spacing: 0; } caption, th, td { text-align: left; font-weight: normal; } blockquote:before, blockquote:after, q:before, q:after { content: ""; } blockquote, q { quotes: "" ""; } img { border: none; }

/* END RESET CSS RULES */

/* START GENERAL FORMATTING STYLES */

/* Body styles */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.78125em;
	/*background: #fff url(http://phelpslaundry.ca/phelpswp/wp-content/themes/phelps/images/backgrounds/navbar-bg.gif) 0 72px repeat-x scroll;*/
	line-height: 1.3em;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: "PoynterGothic", Verdana, Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: #a90056;
}
h1 {
	font-size: 1.36em;
	line-height: 1.333;
}

.FrenchSite h1 {  /* French site does not use PoynterGothic font because Cufon can't render French accents.  I am using Verdana... which has larger font size */
	font-size: 1.3em;
	font-weight: bolder;
}

h1.SmallerHeading  {
	font-size: 1em;
}

h2 {
	font-size: 1.2em;
}

.FrenchSite h2 { 
	font-size: 1.1em;
	font-weight: bolder;
}

h3 {
	font-size: 1.1em;
}

.FrenchSite h3 {
	font-size: 1em;
}

h4, h5, h6 {
	font-size: 1em;
}

p {
	margin: 15px 0;
}

h1 {
	margin-bottom: 10px;
}

h2 { 
	margin: 20px 0 15px;
}

ul, ol {
	list-style-position: inside;
	
}

a, a:link, a:visited {
	color: #a90056;
	font-weight: bolder;
	text-decoration: underline;
}

blockquote {
	color: #a90056;
}

strong {
	font-weight: bold;
}

a strong {
	color: #000;
}

small {
	font-size: 0.8em;
	line-height: 0.7em;
}

/* END GENERAL FORMATTING STYLES */

/* GENERAL  CLASSES START*/
.clearfix {	clear: both;}
.clearfix:after {  /* This prevents floats from expanding out of their containing box */
	content: '.';
	height: 0;
	visibility: hidden;
	display: block;
	font-size: 0;
	clear: both;
}

.uppercase {
	text-transform: uppercase;
}
/* GENERAL  CLASSES END*/

/* MAIN CONTAINER START */

.mainWrapper {
	width: 990px;
	margin: 0 auto;
}

/* MAIN CONTAINER END */

/* HEADER START */

.header {
	width: 100%;
	margin-bottom: 1px;
}

.logo {
	margin: 20px 0 0 70px;
	float: left;
}

.qtrans_language_chooser {
	float: right;
	padding-right: 5px;
	margin-top: 40px;	
	margin: 40px 50px 0 0;
}

.qtrans_language_chooser li {
	float: left;
	padding-left: 10px;
	border-left: 1px #666 solid;
	margin-left: 10px;
}

.qtrans_language_chooser li:first-child {
	border-left: none;
}

.qtrans_language_chooser a, .qtrans_language_chooser:link, .qtrans_language_chooser:visited {
	font-weight: normal;
	color: #666;
}

.active a, .active a:link, .active a:visited {
	color: #a90056;
	text-decoration: none;
}

/* HEADER END */	
		
		
/* MAIN NAVIGATION MENU START */

.navbar {
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.navbar ul {
	float: right;
	margin-right: 44px;
}

.navbar li {
	float: left;
	position: relative;
}

.navbar a:link, .navbar a:visited  {
	color: #555555;
	text-decoration: none;
	font-weight: normal;
	display: block;
	padding: 4px 18px;
	position: relative;
	z-index: 100;
}

.navbar a:hover, .navbar ul ul a:hover, .navbar ul ul .current_page_item a:hover  {
	color: #fff;
	background: #4d4e51;
}

.navbar .current_page_item a, .navbar .current_page_item a:link, .navbar .current_page_item a:visited, .navbar .current_page_ancestor a{
	color: #a90056;
}

.navbar .current_page_item a:hover {
	color: #fff;
}

.navbar ul ul {
	background: rgba(88,89,91, 0.83);
	position: absolute;
	z-index: 75;
	top: 0px;
	left: 0;
	display: none;
	padding: 24px 0 0;
	text-align: center;
	width: 100%;
}

.navbar ul ul li{
	float: none;
	border-top: 1px #fff solid;
}

.navbar ul ul a, .navbar ul ul a:link, .navbar ul ul a:visited, .navbar .current_page_item ul a, .navbar .current_page_item ul a:link, .navbar .current_page_item ul a:visited, .navbar ul ul .current_page_item a, .navbar ul ul .current_page_item a:link, .navbar ul ul .current_page_item a:visited  {
	color: #fff;
	font-weight: normal;
	display: block;
	text-transform: capitalize;
}

.navbar li:hover .children, .navbar li.over .children {
	display: block;
}

.navbar li:hover a, .navbar li.current_page_item:hover a {
	color: #fff;
}

/* MAIN NAVIGATION MENU END */

/* GENERAL CONTENT STYLES STARTS */

.contentWrapper {
	width: 100%;
	background: transparent url(images/common-background-new.jpg) 0 0 repeat-y scroll;
	min-height: 410px;
	position: relative;
	padding-top: 43px;
}

.content {	background: #fff;
	background: rgba(255, 255, 255, 0.93);
	width: 855px;
	margin: 0 auto 0;
	padding: 30px 25px;
	min-height: 352px;
}

.secNav {
	float: right;
}

.secNav li {
	display: inline;
	margin-left: 25px;
}

.secNav a, .secNav a:link, .secNav a:visited {
	color: #a90056;
	text-decoration: underline;
	font-weight: normal;
}

/* GENERAL CONTENT STYLES ENDS */

/* HOME PAGE SPECIFIC STYLES START */

.home {
	width: 100%;
	background: transparent url(images/home-background.jpg) 0 0 no-repeat scroll;
	min-height: 0;
	height: 388px;
	padding-top: 0;
}

.home .content {
	background: none; 
}

h2.FeatureText {
	color: #FFFFFF;
	font-size: 33px;
	letter-spacing: 0.5px;
	line-height: 48px;
	position:absolute;
	right:20px;
	top:70px;
	width:250px;
	z-index:300;
}

h2.FrenchTagline {
	top: 10px;
}

/* HOME PAGE SPECIFIC STYLES END */

/* PRODUCTS AND SERVICE SPECIFIC STYLES START */

.products, .service {	
	background: rgba(255, 255, 255, 0.93); 
	position: relative;
} 

.products p, .products ul { 
	width: 61%;
}

.service p, .service ul { 
	width: 55%;
}

.ProductsImg {
	 position: absolute;
	 top: 0;
	 right: 0;
}

.ServiceImg {
	position: absolute;
	 top: 70px;
	 right: 0;
}

/* SERVICE AND REFUND FORM STYLES START */

.wpcf7-form p, .CurrentDate {
	margin-right: 30px;
}
.wpcf7-form label {
	margin-bottom: -13px;
	display: block;
}

.wpcf7-form input[type="text"] {
	width: 200px;
}
	
#RefundLink {
	cursor: pointer;
}

#RefundAmount label {
	margin-left: 13px;
}

#RefundAmount input {
	width: 187px;
}

.LocationFields p, .AddressFields p, .NameFields p, .ContactFields p, .MachineInfo {
	float: left;
}

.AddressFields textarea {
	width: 300px;
	height: 75px;
}

.MachineInfo p {
	margin-bottom: 10px;
}

.PostalCodeField input {
	width: 80px;
}

.wpcf7-form .MachineNumberField input{
	width: 280px;
}

#Date {
	display: none;
}

/* PRODUCTS AND SERVICE SPECIFIC STYLES END */

/* CONTACT PAGE STYLES START */

.regionalContact {
	float: left;
	width: 190px;
	margin-right: 90px;
	font-size: 11.5px;
	margin-bottom: 30px;
}

.regionalContact h3 {
	color: #000;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.FrenchSite .regionalContact .BreakSubtitle {
	margin-bottom: 15px;
}

.FrenchSite .regionalContact h3 {
	margin-bottom: 0;
}


.contact ul {
	list-style-type: none;
}

/* CONTACT PAGE STYLES END */

/* FOOTER STYLES START */

.footer {
	font-family: Arial, Helvetica, sans-serif;
	/* width: 100%; */
	background: transparent url(images/footer-bg.jpg) 0 0 no-repeat scroll;
	min-height: 37px;

	color: #ffffff;
	text-align: center;
}

.quickLinks {
	margin: 0 auto;
	padding-top: 10px;
	width: 80%;
	position:relative;
	z-index: 200;
}

.quickLinks h3 {
	color: #fff;
	float: left;
	font-weight: normal;
}


.quickLinks a, .quickLinks a:link, .quickLinks a:visited {
	color: #fff;
	text-decoration: underline;
}

.quickLinks li {
	font-size: 11.5px;
	display: inline;
	margin-left: 25px;
}

.copyright {
	font-size: 11px;
	color: #555;
	text-align: center;
	width: 100%;
	margin-top: 15px;
}

/* FOOTER STYLES END */

/* SMARTCARD STYLES START */

.SmartCardSteps {
	list-style-type: none;
}

.SmartCardSteps li {
	height: 165px;
}

.stepNum {
	width: 37px;
	display: block;
	height: 37px;
	margin: 57px 27px auto 0;
	float: left;
}

.stepThumb {
	float: left;
	margin-right: 25px;
	width: 230px;

}

.stepDesc {
	float: left;
	width: 500px;
	margin-top: 55px;
}

.stepMiddle {
	margin-top: 40px;
}

/* SMARTCARD STYLES END */

/* ENTRY STYLES START */

.entry ul {
	margin-left: 15px;
	list-style-position: outside;
	list-style-type: disc;
}

.entry ol {
	margin-left: 20px;
	list-style-position: outside;
	list-style-type: decimal;
}

.entry li {
	padding-bottom: 7px;
}

.alignright {
	margin: 0 0 20px 20px;
	float: right;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

/* ENTRY STYLES END */


/*COMMON STYLE START*/
/*add by Hiler Chyn*/
.font_bolder{
    font-weight: bolder;
}
/*COMMON STYLE END*/

/* CUSTOM STYLE START*/
/*add by Hiler Chyn */
#screen_title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.span_width_100, .span_width_50, .span_width_180{
    width:100px;
    display:block;
    float:left;
    clear: left;
    padding-top: 3px;
}

.span_width_50{
    width: 50px;
}

.span_width_180{
    width: 170px;
    padding-right: 10px;
}

.span_text_righ{
    text-align: right;
}

.span_text_center{
    text-align: center;
}

.span_table_item{
    padding-top: 0px;
}

.hr_height_5, .hr_height_10, .hr_height_15{
    display: block;
    clear: both;
    height: 5px;
}

.hr_height_10{
    height: 10px;
}

.hr_height_15{
    height: 15px;
}

#container{
    padding: 20px;
}

.login_block_350{
    background-color: #D0D0D0; 
    margin: 10px 20px 10px 20px;
    width:330px;
    padding:10px;
    height:140px;
}

.login_block_350 h3 {
    padding: 0;
    margin: 0;
}

.login_block_heigh_320{
    height: 320px;
}

.login_block_heigh_200{
    height: 200px;
}

.login_block_top_40{
    padding-top: 40px;
}

table tr td {
    vertical-align: top;
}

.checkbox_float_left,.div_float_left{
    float: left;
}

.message_error{
    color: #ff0000;
}


/* adjust credit binding page style */

#container .pay-online-container{
    width: 500px;
}

/*#container table tr td.main label{
    float:right;
    padding-right: 10px;
}*/

.table-transaction{
    width: 100%;
}

.table-transaction td{
    padding-left: 5px;
    background: none repeat scroll 0 0;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    height: 25px;
}

.table-transaction tr.gray{
    background-color: #CCCCCC;
}

.table-transaction thead th{
    background: url("images/footer-bg.jpg") repeat-x scroll 0 0 transparent;
    border-color: #E5E5E5 #E5E5E5 #E5E5E5;
    border-style: solid;
    border-width: 1px;
    padding: 0 0 0 5px;
    text-align: left;
    white-space: nowrap;
    height: 25px;
    color: #FFFFFF;
}

.table-transaction tbody td, .table-transaction thead th{
    padding-top: 5px;
}

.pagination-transaction{
    float: right;
    padding-right: 10px;
}

.pagination-transaction a{
    padding-left: 5px; 
    padding-right: 5px;
}

/* CUSTOM STYLE END*/