header {
	/*margin-bottom: 40px;*/
}

header h1, footer {
	text-align: center;
}

h4, h5 {
	font-weight: bold;
	text-decoration: underline;
}

h5 {
	margin-bottom: 20px;
}

table th {
	font-weight: bold;
}

.admintask div {
	padding: 10px;
}

.admintask div a {
	width: 200px;
}

.vendor-task {
	padding: 10px;
}

.vendor-task div a {
	width: 280px;
}

.help-text {
	color: #737373;
}

.vendor-task-block {
	background: #eee;
	padding: 10px;
	border: solid 5px #fff;
}

.view-detail {
	margin: auto 100px;
}

.table {
	background: #fff;
}

footer {
	/*margin-top: 40px;*/
}